<section class="card-holder">
    <mat-card>
        <mat-card-title style="text-align: center;">Contact</mat-card-title>
        <hr>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <p>Nirjhor Cantonment Public School & College,</p>
                <p>Dhaka Cantonment,</p>
                <p>Dhaka, Bangladesh.</p>
                <p>Phone: <a href="tel:+8801769026640">+8801769026640</a> (08:00 AM - 03.00 PM)</p>
                <p>Fax: <a href="tel:+45 6xxx xxxxx">+45 6xxx xxxxx</a></p>
                <p>Email: <a href="mailto:principal@ncpsc.edu.bd">principal@ncpsc.edu.bd</a> </p>
                <p><a href="mailto:info@ncpsc.edu.bd">info@ncpsc.edu.bd</a></p> 
                <p><a href="https://www.ncpsc.edu.bd">www.ncpsc.edu.bd</a></p>
            </div>
        </mat-card-content>
    </mat-card>
</section>
