<div class="example-container mat-elevation-z3">
    <div fxLayout fxLayoutAlign="center center">
        <h1 style="text-align: center; margin: 0;">Sign Up</h1>
    </div>
</div>
<section class="card-holder">
    <mat-card>
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field>
                <input 
                    matInput 
                    type="text" 
                    placeholder="First Name" 
                    name="first_name" 
                    ngModel
                    required
                    #nameInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    type="text" 
                    placeholder="Last Name" 
                    name="last_name"
                    ngModel
                    required
                    #nameInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    type="email" 
                    placeholder="Your email" 
                    name="email" 
                    ngModel
                    email
                    required
                    #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Email is invalid</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Field must not be empty</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    type="text" 
                    placeholder="Your Role" 
                    name="role" 
                    ngModel
                    required
                    #roleInput="ngModel">
                <mat-error *ngIf="roleInput.hasError('required')">Field must not be empty</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="Should be at least 6 characters long">
                <input 
                    matInput 
                    type="password" 
                    placeholder="Your Password" 
                    name="password" 
                    ngModel
                    required
                    minLength="6"
                    #pwInput="ngModel">
                <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
                <mat-error>Has to be at least 6 characters long.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Your Birthdate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
        </form>
    </mat-card>
</section>
